<div class="container__big_card">
  <div class="big__card__picture">
    <img
      src="https://i.ytimg.com/vi/N5RjXv7HKxQ/maxresdefault.jpg"
      alt="image"
    />
  </div>
  <div class="big__card__title">
    <h1><a href="">Nova noticia</a></h1>
  </div>
  <div class="big__card__description">
    <p>
      <a href="">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et
        reprehenderit, accusantium quos dolore recusandae aliquam placeat nihil.
      </a>
    </p>
  </div>
</div>
