<app-title></app-title>

<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      picture="https://m.media-amazon.com/images/S/pv-target-images/8642101cece661111dbabfdc38762dbad90f63983f85a83667c0a5fa12cab50e.jpg"
      title="Nova temporada de The Legend of Vox Machina"
      description="Tudo está em jogo na esperada Temporada 3 de A Lenda de Vox Machina. A destruição absoluta por parte do Conclave Cromático se alastra enquanto o Rei das Cinzas caça Vox Machina. Nosso amado grupo de desajustados precisa enfrentar demônio internos (e externos) para tentar salvar quem eles amam, Tal'Dorei e toda a Exandria."
    >
    </app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
      picture="https://preview.redd.it/g1jxoxbtwpnc1.jpeg?auto=webp&s=f14a14602deeced726ba9990b84de33d27ef9a82"
      title="Veja fanarte de Vox Machina"
    >
    </app-small-card>
    <app-small-card
    picture="https://a.storyblok.com/f/178900/1920x1080/fc9956de7a/dandadan-key-art-wide.png"
    title="Novo episodio"
    >
    </app-small-card>
    <app-small-card
    picture="https://m.media-amazon.com/images/S/pv-target-images/64e68691a065cf2812d0c36fd8b54a43006248fef8383520becef7eace34a032.jpg"
    title="Nova temporada"
    ></app-small-card>
  </div>
</div>
